.*
!.clang-format
!/tools/oam_pack/.gitignore

*.dump
*.elf
*.gba
*.map
*.sav
*.lz

build/
graphics/map_state_palettes/shared/*.0x70
graphics/ui/scene_080ae7d0/shared/palettes.gbapal
tools/fomt-lz
__pycache__/
tools/textproc/fomt-*
