.*
!.clang-format
!/tools/oam_pack/.gitignore

*.dump
*.elf
*.gba
*.map
*.sav

build/
graphics/map_state_palettes/shared/*.0x70
graphics/map_state_palettes/shared/*.gbapal.lz
tools/fomt-lz
__pycache__/
tools/textproc/fomt-*
