.*
!.clang-format
!/tools/oam_pack/.gitignore

*.dump
*.elf
*.gba
*.map
*.sav
*.lz
!graphics/farm_house_visual/shared/*.original.lz
!graphics/intro_scene/shared/startup_tilemaps/*.original.lz
!graphics/intro_scene/shared/startup_visual/*.original.lz
!graphics/ui/seasonal_background/shared/*.original.lz

build/
graphics/map_state_palettes/shared/*.0x70
graphics/ui/scene_080ae7d0/shared/palette_banks.gbapal
graphics/ui/scene_080b7164/shared/palettes.gbapal
graphics/ui/scene_080c160c/shared/palettes.gbapal
graphics/ui/scene_080bcfac/shared/palettes.gbapal
graphics/intro_scene/shared/startup_visual/startup_tiles.4bpp
graphics/intro_scene/shared/startup_visual/startup_palette_banks.gbapal
graphics/ui/seasonal_background/shared/nonwinter_tiles.4bpp
graphics/ui/seasonal_background/shared/nonwinter_palette_banks.gbapal
tools/fomt-lz
tools/verify-gfx-range
tools/verify-gfx-range.exe
graphics/shared_resource_0873d5fc/full/group_000.4bpp
graphics/shared_resource_0873d5fc/full/group_000.gbapal
graphics/shared_resource_0873ae54/full/group_000.4bpp
graphics/shared_resource_0873ae54/full/group_000.gbapal
graphics/shared_resource_0873ae54/full/group_001.4bpp
graphics/shared_resource_0873ae54/full/group_001.gbapal
graphics/shared_resource_08740908/full/group_000.4bpp
graphics/shared_resource_08740908/full/group_000.gbapal
graphics/shared_resource_0874ee38/full/group_000.4bpp
graphics/shared_resource_0874ee38/full/group_000.gbapal
graphics/shared_resource_0875352c/full/group_000.4bpp
graphics/shared_resource_0875352c/full/group_000.gbapal
graphics/shared_resource_08753608/full/group_000.4bpp
graphics/shared_resource_08753608/full/group_000.gbapal
graphics/shared_resource_08755154/full/group_000.4bpp
graphics/shared_resource_08755154/full/group_000.gbapal
graphics/intro_scene/small_indexed_archive/shared/full/frame_0000.4bpp
graphics/intro_scene/small_indexed_archive/shared/full/frame_0000.gbapal
__pycache__/
tools/textproc/fomt-*
